$primary_color: #fff;
$secondary_color: #6196A6;
$highlight_color: #0C359E;

$text_primary_color: #000;
$text_secondary_color: #fff;
$text_alert_color: red;

$success_status_color: #124076;
$pending_status_color: #FFF3C7;

$text_font: "Madimi One", sans-serif;
$font_size_base: 16px;
$line_height_base: 1.4;

$breakpoint_mobile_xs: 370px;
$breakpoint_mobile: 768px;
$breakpoint_desktop: $breakpoint_mobile + 1;

$grid_base: 16px;

$container_width_large: 1400px;